$wrapperWidth: 1200px;

//Bg color styles
$contBgColorNrthAmerica:  rgba(51, 102, 153, 0.7);
$contBgColorEurope: rgba(133, 51, 153, 0.7);
$contBgColorAsia: rgba(148, 32, 32, 0.7);
$contBgColorSthAmerica: rgba(51, 102, 153, 0.7);
$contBgColorAfrica: rgba(198, 245, 68, 0.7);
$contBgColorAustralia:  rgba(216, 120, 11, 0.7);
$countryBgColor:  rgba(33, 65, 97, 0.7);

